body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #020024, #720681, #00d4ff);
    background-size: 400% 400%;
}

.card {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 300px;
    text-align: center;
    color: #fff;
}

form {
    display: flex;
    flex-direction: column;
}

label, input, select, button {
    margin-bottom: 15px;
    font-size: 16px;
}

input, select, button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    color: #ffffff;
}

input:focus, select:focus, button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

button {
    cursor: pointer;
}

button:hover {
    background: rgba(255, 255, 255, 0.3);
}

select option {
    background-color: black;
    color: #fff;
}